$gold: #bca64d;
$navy: #103341;
$white-text: #fff;
$gray-text: #666;


body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	max-width: 100%;
	padding: 0;
    box-sizing: border-box;
}

.container{
	text-align: center;
	max-width: 100%;
	
}

header{
	background: url('images/fog1.jpg') no-repeat center;
	background-size: cover;
	color: white;

	.header-content{
		padding: 2% 0 15% 0;
	}


	h1{
		font-size: 30px;
		font-weight: 300;

	}

	.desktop-nav, .drop-down{
		display: none;
	}

	.hamburger{
		// float: right;
		color: $gold;
		position: fixed;
		right: 13px;
		top: 13px;
	}

	img{
		padding-top: 5%;
	}

	h2{
		font-size: 18px;
		margin-top: -15%;
		font-weight: 300;
	}

	p{
		font-size: 14px;
		margin-bottom: 20%;
    	margin-top: 13%;
	
	}

	.fa-5x {
    font-size: 117px;
	}


}
 

#shop-on-etsy{
	max-width: 100%;
	background: $gold;
	margin: 0;
	padding: 5%;

	h2{
		margin: 0;
		color: $white-text;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 18px;

	}

}


.main-panel{


	h2{
		font-size: 20px;
		font-weight: 400;
	}

	p{
		font-size: 12px;
		color: $gray-text;
		font-weight: 300;
	}


}


.girl-white-shirt{

	img{
		max-width: 100%;
		height: auto;

	}

	.flex-1{
		margin-top: 10%;
    	margin-bottom: 10%;
    	padding: 0 5%;
	}

	.font-aw-flex{
		display: flex;
  		justify-content: space-around;
  		flex-flow: row wrap;
  		align-items: stretch;
  		margin-top: 12%;


		.fa-2x {
    		color: #b0b0b0;
    		flex-grow: 1;
		}
	}


}

.beads{
	background: url('images/colorful-beads.jpg');
	padding: 30%;
	margin-top: 5%;
	margin-bottom: 5%;

}

#store-discription{

	.align-center {
		text-align: center;
		padding: 0 5%;
		margin-top: 10%;
    	margin-bottom: 10%;



	}

	img{
		max-width: 85%;
		height: auto;
	}
}

.inverted-panel{
	background: $navy;
	color: white;
	padding: 10% 0;

	h2{
		font-size: 20px;
		font-weight: 400;
	}

	h3{
		font-size: 14px;
		font-weight: 300;
		color: #d9d9d9;
		width: 150px;
	}
	p{
		font-size: 11px;
		font-weight: 300;
		color: #999;
		font-style: italic;
		margin: 0 16px;
		margin-bottom: 33px;
		width: 150px;
	}

	img{
		// max-width: 80%;
		height: auto;
		width: 150px;
	}


	.flex-parent{
		display: flex;
		// justify-content: center;
		justify-content: space-around;
  		// flex-flow: row wrap;
  		align-items: stretch;
  		margin-top: 12%;
		

		
	}

	.flex-item{
		flex-grow: 1;
	}

}


.pinecone-section{
	background: url('images/pine-cone-small.jpg') no-repeat center;
	background-size: cover;
	padding: 45%;
}


#closing{

	h3{
		color: #666;
		font-size: 22px;
		font-weight: 400;
	}

	a{
		display: inline-block;
    	color: white;
    	background: $gold;
    	text-decoration: none;
    	padding: 4% 19%;
    	font-style: uppercase;
    	font-size: 18px;
    	font-weight: 600;
	}

	p{
		color: #999;
		font-size: 11px;
		font-weight: 300;


	}
}

footer{
	font-size: 12px;
	font-weight: 300;
	color: #999;
	margin-top: 20%;
	margin-bottom: 10%;

	a, .fa-copyright{
		display: block;
		text-decoration: none;
		color: #999;
		margin-bottom: 8%;
	}

	.fa{
		color: $gold;
		margin: 3%;
		font-size: 22px;
	}

	.fa-copyright{
		display: inline;
		font-size: 12px;

	}
}










